.header__auth__signin {
    margin: 0;
    padding: 0;
    width: 76px;
    height: 32px;
    border-radius: 3px;
    background-color: #3ddc84;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-weight: 500;
    line-height: 16px;
    font-size: 12px;
}