.side-menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    display: flex;
    justify-content: end;
}

.side-menu__hidden {
    display: none;
}

.side-menu__container {
    position: relative;
    width: 520px;
    height: 100%;
    background-color: #202020;
}

@media screen and (max-width: 767px) {
    .side-menu__container {
        width: 100%;
    }
}

.side-menu__cross-button {
    position: absolute;
    right: 22px;
    top: 22px;
    padding: 0;
    width: 31px;
    height: 31px;
    border: none;
    background: none;
}

@media screen and (max-width: 767px) {
    .side-menu__cross-button {
        right: 13px;
        top: 13px;
    }
}

.side-menu__cross-image {
    width: 31px;
    height: 31px;
}

.side-manu__tabs {
    margin: 159px 0 0 0;
    display: flex;
    flex-direction: column;
    row-gap: 28px;
}

.side-manu__profile {
    position: absolute;
    bottom: 90px;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}