.button {
    padding: 0;
    background: none;
	color: inherit;
    border: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    border-radius: 3px;
    color: white;
}

.button_signup {
    width: 76px;
    height: 32px;
}

.button_signin {
    width: 76px;
    height: 32px;
    background-color: #3ddc84;
}

.button_promo {
    margin-top: 146px;
    width: 129px;
    height: 36px;
    font-weight: 500;
    border: 1px solid rgba(255, 255, 255, 0.6);
}

.button_github {
    margin-top: 99px;
    font-size: 14px;
    line-height: 17px;
}

.button_edit {
    font-size: 13px;
}

.button_signout {
    font-size: 13px;
    color: #ee3465;
}

.button_movies {
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
}

.button_saved-movies {
    font-size: 13px;
    line-height: 18px;
}

.button_profile {
    font-weight: 500;
    font-size: 13px;
    line-height: 12px;
}