.text-black {
    color: #000;
}

.text-grey {
    color: #8b8b8b;
}

.text-white {
    color: #fff;
}

.text-dark-grey {
    color: #888888;
}

.bg-green {
    background-color: #3DDC84;
}

.bg-grey {
    background-color: #303030;
}

.bg-dark_grey {
    background-color: #202020;
}

.bg-dark-blue {
    background-color: #073042;
}