.about-project__title {
    margin: 0;
    color: #ffffff;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.about-project__subtitle {
    margin: 26px 0 0 0;
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}