.page-not-found {
    width: 100%;
    flex-grow: 1;
    background-color: #202020;
    position: relative;
}

.page-not-found__container {
    height: 100%;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
}

@media screen and (max-width: 767px) {
    .page-not-found__container {
        row-gap: 10px;
    }
}

.page-not-found__title {
    margin: 0;
    font-weight: 400;
    font-size: 140px;
    line-height: 169px;
}

@media screen and (max-width: 767px) {
    .page-not-found__title {
        font-size: 80px;
        line-height: 97px;
    }
}

.page-not-found__description {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

@media screen and (max-width: 767px) {
    .page-not-found__description {
        font-size: 12px;
        line-height: 15px;
    }
}

.page-not-found__back {
    position: absolute;
    margin: 0;
    color: #4285f4;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border: none;
    background: none;
    bottom: 60px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 767px) {
    .page-not-found__back {
        font-size: 12px;
        line-height: 15px;
        bottom: 30px;
    }
}