.content {
    margin: 0 auto 0 auto;
    min-width: 320px;
    max-width: 1280px;
}

@media screen and (max-width: 1279px) {
    .content {
        max-width: 1279px;
    }
}

@media screen and (max-width: 767px) {
    .content {
        max-width: 767px;
    }
}

.content__container {
    padding: 0 70px;
}

@media screen and (max-width: 1279px) {
    .content__container {
        padding: 0 30px;
    }
}

@media screen and (max-width: 767px) {
    .content__container {
        padding: 14px;
    }
}

.content_techs {
    background-color: #272727;
}

.content_promo {
    background-color: #073042;
}

.content_portfolio {
    background-color: #202020;
}

.content_header-main {
    background-color: #073042;
}

.content_header-page {
    background-color: #202020;
}

.content_footer {
    background-color: #202020;
}

.content_about-project {
    background-color: #202020;
}

.content_about-me {
    background-color: #202020;
}

.content_movies {
    background-color: #202020;
}