.side-menu-tab {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
}

.side-menu-tab__selected {
    text-decoration: underline;
}

.side-menu-tab__deselected {
    text-decoration: none;
}