.portfolio__title {
    margin: 0;
    color: #888888;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
}

@media screen and (max-width: 767px) {
    .portfolio__title {
        font-size: 14px;
    }
}

.portfolio__links {
    width: 100%;
    margin-top: 50px;
}

@media screen and (max-width: 767px) {
    .portfolio__links {
        margin-top: 40px;
    }
}