.section {
    display: flex;
}

.section_about-me {
    height: 560px;
    background-color: #202020;
}

.section_about-project {
    height: 608px;
}

.section_portfolio {
    height: 550px;
}

.section_promo {
    height: 574px;
}

.section_techs {
    height: 625px;
    background-color: #272727;
}

.section__container {
    display: flex;
}

.section__container_about-me {
    margin: 110px 0 0 0;
    flex-grow: 1;
    flex-flow: column;
    row-gap: 66px;
}

.section__container_about-project {
    margin: 110px 0;
    flex-grow: 1;
    flex-flow: column;
    row-gap: 70px;
}

.section__container_portfolio {
    margin: 101px 0 125px 0;
    flex-grow: 1;
}

.section__container_promo {
    margin: 75px 0;
    flex-grow: 1;
}

.section__container_techs {
    margin: 100px 0 100px 0;
    flex-grow: 1;
    flex-flow: column;
    row-gap: 90px;
}