.footer {
    height: 172px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.footer__title {
    margin: 79px 0 0 0;
    color: #888888;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
}

.footer__line {
    height: 1px;
    background-color: #424242;
}

.footer__description {
    display: flex;
    justify-content: space-between;
}

.footer__links {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}

.footer__copyright {
    margin: 0;
    color: #ffffff;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.footer__bootcamp {
    padding: 0;
    background: none;
    border: none;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #ffffff;
}

.footer__button {
    padding: 0;
    background: none;
    border: none;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #ffffff;
}